#gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: calc(-1 * 20px);
  margin-top: calc(-1 * 20px);

  padding: 0;

  list-style: none;
}

.gallery__item {
  flex-basis: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

.gallery__img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
